body {
    background-color: aliceblue;
    color:blue
    margin: 0 auto;
    width: 90%;
}
header{
    background-color: aquamarine;
    color: rgb(59, 13, 90);
}
nav {
background-color: rgb(19, 204, 102);
}
nav ul {
    list-style-type: none;
}
nav ul li {
    display:inline-block;
    background-color: cadetblue;
    margin-bottom: 0;
    margin-right: 0.5em;
    border: 3px darkgray; 
    padding: 5px;
    border-radius: 3px;
    box-shadow: 1px 1px black;
}
nav ul li:active {
    border: 3px darkgray inset:
}
nav ul li a {
    text-decoration: none;
    font-weight:bold;
    color: bisque;
}